h1{
        color: black;
        font-family: constantia;
        
}

h5{
	color: #343a40;
}

h3{
	color: #099ede;
	font-family: constantia;

}

h2{
	color:  black;
}
 
p{
	color: black;
	font-size: 19px;
	font-family: constantia;

 }
